<!DOCTYPE html>

<html>
  <head>
    <title>Acortador de URLs</title>
    <link rel="icon" href="/SF-icon.png" type="image/png" />
    <link href="/public/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h1>Acortador de URLs</h1>
    <main>
      <section>
        <form action="api/shorturl" method="POST">
          <fieldset>
            <legend>Acortador de URLs</legend>
            <label for="url_input">URL:</label>
            <input id="url_input" type="text" name="url" placeholder="https://www.freecodecamp.org/" />
            <input type="submit" value="Enviar URL" />
          </fieldset>
        </form>
      </section>
    </main>
    <footer>
      Creado por Santiago Florido
    </footer>
  </body>
</html>
